/* Default styles for Mobile devices */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191919;
    /* transition: all 1s; */
}

.flex {
    display: flex;
    align-items: center;
}

.hdr {
    position: fixed;
    padding: 5px 0;
    width: 100%;
    background-color: #191919;
}

.containar {
    max-width: calc(100% - 32px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    flex-direction: column;
    justify-content: space-around;
}

#hidden-btn {
    display: none;
}

.link_list {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.link_list nav {
    width: max-content;
    flex-direction: column;
    gap: 10px;
}

footer a,
.link_list nav a {
    color: var(--light-content, #a7a7a7);
    text-align: center;
    text-decoration: none;

    /* Buttons / Big */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

#hidden-btn:checked ~ .link_list {
    display: flex;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main {
    padding-top: 126px;
}

h2 {
    color: var(--solid-heading-dark-mode, #ccc);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    margin-bottom: 24px;
}

h3 {
    color: var(--light-content, #a7a7a7);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    margin-bottom: 67px;
}

/* sct_1 */

#sct_1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

#sct_1 h1 {
    color: #d9d9d9;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 156.25% */
    letter-spacing: -1px;
    width: 351px;
}

h1 span {
    background: linear-gradient(90deg, #13b0f5 99.99%, #e70faa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
}

#sct_1 img {
    width: 289px;
    height: 282px;
}

/* sct_2 */
#sct_2 {
    display: flex;
    flex-direction: column;
    margin: 43px 0;
    gap: 25px;
}

#sct_2 .blocks {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    row-gap: 52px;
}

/* sct_3 */
#sct_3 {
    margin-top: 38px;
}

#sct_3 .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 31px 25px;
}

#sct_3 .articles article {
    width: 316px;
    height: 567px;
    border-radius: 20px;
    background: #363636;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sct_3 .articles article > img {
    display: flex;
    width: 316px;
    height: 260px;
    justify-self: flex-start;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    background: lightgray 50% / cover no-repeat, #d9d9d9;
}

#sct_3 .articles article span {
    width: 250px;
    color: var(--solid-heading-dark-mode, #ccc);
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 135.714% */
}

#sct_3 .articles article p {
    color: var(--solid-heading-dark-mode, #ccc);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
    width: 262px;
}

#sct_3 .articles article a {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-decoration-line: underline;
    display: flex;
    gap: 12px;
    margin: 25px;
    align-items: center;
}

/* footer */
footer {
    margin-top: auto;
    position: relative;
    bottom: 100%;
    /* width: 100%; */
    margin-top: 20%;
}

.frow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(66, 68, 110, 0.3);
}

.frow span {
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
}

.frow address {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

footer .footer {
    flex-direction: column;
}

.f_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.f_menu nav {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 16px;
    width: 100%;
}

.f_menu nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.f_menu p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--light-content, #a7a7a7);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 16px;
}

.f_menu p span {
    background-color: #13b0f5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
